.checkout-product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkout-product__image {
  object-fit: contain;
  max-width: 100px;
}

.checkout-product___info {
  padding-left: 20px ;
}

.checkout-product__title {
  font-size: 17px;
  font-weight: 800;
}

.checkout-product__rating {
  display: flex;
}

.checkout-product___info > button {
  background: #f0c14b;
  border: 1px solid #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  color: #111;
}
